<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
  
<div class="login-container">
    
<form action="/home" method="post">
<h2>Login</h2>

<label for="Username">Username</label>
<input type="text" id="Username" name="User" >

<label for="Passward">Passward</label>
<input type="text" id="Passward" name="Pass" >

<button type="submit">Login</button>

</form>
</div>


</body>
</html>